@import url('main.css');

.about-content {
	display: grid;
	grid-template-columns: 475px 1fr;
	grid-area: main;
	align-content: center;
}

.p-container {
	color: var(--dark);
	font-size: var(--font-size);
}

a {
	color: var(--dragon);
	text-decoration: none;
}
