@import url('main.css');

.about-content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
	grid-area: main;
	align-content: center;
}

.p-container {
	color: var(--dark);
	font-size: 1.1rem;
}

a {
	color: var(--dragon);
	text-decoration: none;
}
