@import url('main.css');
@import url('ability_details.css');

body {
	color: var(--dark);
}

.area-container {
	grid-area: main;
	padding: 20px;
}

.area-container h1 {
	text-align: center;
}

.encounters ul {
	list-style: none;
}

.encounters a {
	color: var(--dark);
	text-decoration: none;
}
